---
import { Font } from "astro:assets";
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Projects from "@/components/Projects.astro";
import Separator from "@/components/Separator.astro";
import Study from "@/components/Study.astro";
import Section from "@/components/Section.astro";
import Blog from "@/components/Blog.astro";
import { initThemeScript } from "@/utils/initTheme";

const locale = Astro.currentLocale ?? "en";
---

<!doctype html>
<html lang={locale}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <script is:inline set:html={initThemeScript} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <title>Haze | Fyro</title>
        <Font
            cssVariable="--font-roboto"
            preload={[{ weight: 400 }, { weight: 600 }]}
        />
    </head>

    <body class="bg-background">
        <div
            class="mx-auto flex max-w-4xl flex-col items-center gap-6 px-6 py-24 text-sm lg:gap-8"
        >
            <Section
                class="flex w-full max-w-md flex-col items-start gap-5 text-left lg:max-w-lg"
            >
                <slot />
            </Section>
            <Projects locale={locale} />
            <Study locale={locale} />
            <Blog locale={locale} />
            <Separator />
            <Footer locale={locale} />
        </div>
    </body>
</html>
